<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
 <nav>
<li><a href="/">Home</a></li>
<li><a href="/beers">Beers</a></li>
<li><a href="/random-beer">Random Beer</a></li>
 </nav>

{{{body}}}

<footer><p>Developed by Zé</p></footer>
</body>
</html>